// Global Variables (colors, font, font size, font weight)
$clr-dark-blue: #0E1317;
$clr-dark: #090C0F;
$clr-darker: #040607;
$clr-white: #FFFFFF;
$clr-grey: #ebebeb;
$clr-light-grey: #FFFDF9;
$clr-orange-accent: #f5923c;
$clr-dark-orange-accent: #e38431;


$ff-body: 'Nunito Sans', sans-serif;
$ff-heading: 'Oswald', sans-serif;

$fs-small: 0.85rem;
$fs-regular: 1.15rem;
$fs-medium: 1.3rem;
$fs-large: 2.3rem;
$fs-xlarge: 5.5rem;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;
$fw-bolder: 700;
